<p>I am Leo. Welcome to the weather webapp.</p>
<p>
  The weather data is from
  <a href="https://weatherstack.com/">weatherstack</a> and
  <a href="https://www.mapbox.com/">mapbox</a>.
</p>
<img class="photo" src="/img/leo.jpg" />
